.skills {
    background-color: rgb(180, 98, 98);
    color: aliceblue;
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
}

.skills-card {
    padding: 0;
    background-color: rgba(112, 122, 122, 0.63);
    flex-wrap: wrap;
    padding: 10px;
}

.skills-card li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    flex-wrap: wrap;
    min-height: max-content;
    box-sizing: border-box;
}

.skills-card img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.skills-card li ul p{
    background-color: rgb(2, 8, 14);
    padding: 10px;
    border-radius: 10px;
}