.social-links-container {
    background-color: rgb(224, 232, 240);
}

.social-links-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.social-links-container li ul a {
    text-decoration: none;
    font-size: medium;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-links-container li ul a:hover{
    background-color: rgb(36, 5, 95);
    padding: 15px;
    color: rgb(109, 105, 105);
    text-decoration:2px rgb(104, 28, 28) underline;
  
}